.third-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    place-items: center;
    text-align: center;
  }
  
  .third-page-button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    place-items: center;
    justify-items: center;
    vertical-align: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .third-page-circle-button {
    width: 200px; /* Adjust width as needed */
    height: 200px; /* Adjust height as needed */
    border-radius: 10px; /* Use a border radius to create rounded corners */
    margin: 10px;
    font-size: 16px;
    display: flex;
    place-items: center;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 28px;
    font-family: Arial, sans-serif;
  }
  
  .third-page-circle-button:hover {
    background-color: #0056b3;
  }
  
  .Back-button {
    position: absolute;
    top: 20px; /* Adjust as needed */
    right: 7px; /* Adjust as needed */
    background-color: #624185;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  